<a href="https://colab.research.google.com/github/harini-shre/Curneu_Harini_Shre/blob/master/curneudataset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
data2 = pd.read_csv('User2data.csv')
data2.head()

   User_Id  Patient_Id  ...    Recommended       Selected
0     1002           1  ...     BipayU.Ex.     BipayU.Ex.
1     1002           1  ...        HeguLI4        HeguLI4
2     1002           1  ...  JueyinshuUB14  JueyinshuUB14
3     1002           1  ...      NeiguanP6      NeiguanP6
4     1002           1  ...      RugenST18      RugenST18

[5 rows x 6 columns]

In [0]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876 entries, 0 to 875
Data columns (total 6 columns):
User_Id        876 non-null int64
Patient_Id     876 non-null int64
Symptom1       876 non-null object
Symptom2       876 non-null object
Recommended    876 non-null object
Selected       407 non-null object
dtypes: int64(2), object(4)
memory usage: 41.2+ KB

In [0]:
data2['Selected'] = data2['Selected'].astype('str')
data2['Selected'].unique()

array(['BipayU.Ex.', 'HeguLI4', 'JueyinshuUB14', 'NeiguanP6', 'RugenST18',
       'nan', 'XinshuUB15', 'XuanzhongGB39', 'YanglingquanGB34',
       'ZusanliST36', 'SanyinjiaoSP6', 'RenzhongDU26', 'YongquanK1',
       'BaihuiDU20', 'ShanzhongRen17', 'ShenmenH7', 'QuchiLI11',
       'DazhuiDU14', 'PishuUB20', 'ShimenRen5', 'ShuifenRen9',
       'YinlingquanSP9', 'TianrongSI17', 'LianquanRen23', 'Neck-FutuLI18',
       'TiantuRen22', 'TongliH5', 'KongzuiLU6', 'LiequeLU7',
       'DingchuanEx.17', 'FeishuUB13', 'FenglongST40', 'TaixiK3'],
      dtype=object)

In [0]:
data2['Recommended'].unique()

array(['BipayU.Ex.', 'HeguLI4', 'JueyinshuUB14', 'NeiguanP6', 'RugenST18',
       'ShanzhongRen17', 'ShenmenH7', 'XinshuUB15', 'BaihuiDU20',
       'XuanzhongGB39', 'YanglingquanGB34', 'ZusanliST36', 'QuchiLI11',
       'RenzhongDU26', 'SanyinjiaoSP6', 'YongquanK1', 'DazhuiDU14',
       'QuanliaoSI18', 'ShaoshangLU11', 'TianrongSI17', 'XuehaiSP10',
       'YangbaiGB14', 'YuyaoEx.3', 'KongzuiLU6', 'Nose-heliaoLI19',
       'ShangxingDU23', 'SuliaoDU25', 'LianquanRen23', 'DingchuanEx.17',
       'FeishuUB13', 'FenglongST40', 'LiequeLU7', 'GuanyuanRen4',
       'PishuUB20', 'ShimenRen5', 'ShuifenRen9', 'YinlingquanSP9',
       'Neck-FutuLI18', 'TiantuRen22', 'TongliH5', 'TaiyuanLU9',
       'TaixiK3'], dtype=object)

In [0]:
# number [1-9] are they are neither toupper or tolower
num=['0','1','2','3','4','5','6','7','8','9','.']
def Selection_Edit(str1):
    count =0
    
    lengt= len(str1)
    for i in range((lengt-1),-1,-1):
        #print(str1[i])
        if(str1[i] not in num):
            #print("hi")
            str8=str1[i].isupper()
            if(str8 == True):
                count = count +1
            str7=str1[i].islower()
            #print(i)
            if(str7 == True and count !=0):
                str1=str1[i+1:]
                count =0
                return str1           

str6='BaihaiDU20'
str9='DingchuanEx.17'
Selection_Edit(str6)
Selection_Edit(str9)

'Ex.17'

In [0]:
data2['Selected']= data2['Selected'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))
data2

     User_Id  Patient_Id  ...     Recommended Selected
0       1002           1  ...      BipayU.Ex.    U.Ex.
1       1002           1  ...         HeguLI4      LI4
2       1002           1  ...   JueyinshuUB14     UB14
3       1002           1  ...       NeiguanP6       P6
4       1002           1  ...       RugenST18     ST18
..       ...         ...  ...             ...      ...
871     1002         100  ...       LiequeLU7     UB20
872     1002         100  ...       PishuUB20     Ren5
873     1002         100  ...      ShimenRen5     None
874     1002         100  ...     ShuifenRen9     None
875     1002         100  ...  YinlingquanSP9     None

[876 rows x 6 columns]

In [0]:
#data2['Selected'].unique()

array(['U.Ex.', 'LI4', 'UB14', 'P6', 'ST18', 'None', 'UB15', 'GB39',
       'GB34', 'ST36', 'SP6', 'DU26', 'K1', 'DU20', 'Ren17', 'H7', 'LI11',
       'DU14', 'UB20', 'Ren5', 'Ren9', 'SP9', 'SI17', 'Ren23', 'LI18',
       'Ren22', 'H5', 'LU6', 'LU7', 'Ex.17', 'UB13', 'ST40', 'K3'],
      dtype=object)

In [0]:
data2['Recommended']= data2['Recommended'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))
data2

     User_Id  Patient_Id           Symptom1    Symptom2 Recommended Selected
0       1002           1  Cardiac_disorders  Heart_pain       U.Ex.    U.Ex.
1       1002           1  Cardiac_disorders  Heart_pain         LI4      LI4
2       1002           1  Cardiac_disorders  Heart_pain        UB14     UB14
3       1002           1  Cardiac_disorders  Heart_pain          P6       P6
4       1002           1  Cardiac_disorders  Heart_pain        ST18     ST18
..       ...         ...                ...         ...         ...      ...
871     1002         100           Dyspnoea     Ascites         LU7     UB20
872     1002         100           Dyspnoea     Ascites        UB20     Ren5
873     1002         100           Dyspnoea     Ascites        Ren5     None
874     1002         100           Dyspnoea     Ascites        Ren9     None
875     1002         100           Dyspnoea     Ascites         SP9     None

[876 rows x 6 columns]

In [0]:
data2['Recommended'].replace('None', np.nan, inplace=True)
data2['Recommended'].unique()

array(['U.Ex.', 'LI4', 'UB14', 'P6', 'ST18', 'Ren17', 'H7', 'UB15',
       'DU20', 'GB39', 'GB34', 'ST36', 'LI11', 'DU26', 'SP6', 'K1',
       'DU14', 'SI18', 'LU11', 'SI17', 'SP10', 'GB14', 'Ex.3', 'LU6',
       'LI19', 'DU23', 'DU25', 'Ren23', 'Ex.17', 'UB13', 'ST40', 'LU7',
       'Ren4', 'UB20', 'Ren5', 'Ren9', 'SP9', 'LI18', 'Ren22', 'H5',
       'LU9', 'K3'], dtype=object)

In [0]:
data2['Selected'].replace('None', np.nan, inplace=True)
data2['Selected'].unique()

array(['U.Ex.', 'LI4', 'UB14', 'P6', 'ST18', nan, 'UB15', 'GB39', 'GB34',
       'ST36', 'SP6', 'DU26', 'K1', 'DU20', 'Ren17', 'H7', 'LI11', 'DU14',
       'UB20', 'Ren5', 'Ren9', 'SP9', 'SI17', 'Ren23', 'LI18', 'Ren22',
       'H5', 'LU6', 'LU7', 'Ex.17', 'UB13', 'ST40', 'K3'], dtype=object)