<a href="https://colab.research.google.com/github/harini-shre/Curneu_Harini_Shre/blob/master/I_Task_01_curneudataset3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving User3data.csv to User3data.csv

In [0]:
import pandas as pd
data3 = pd.read_csv('User3data.csv')
data3.head()

   User_Id  Patient_Id  ...     Recommended        Selected
0     1003           1  ...      BaihuiDU20      BaihuiDU20
1     1003           1  ...    LiangmenST21       NeiguanP6
2     1003           1  ...       NeiguanP6  ShanzhongRen17
3     1003           1  ...    RenzhongDU26   ZhongwanRen12
4     1003           1  ...  ShanzhongRen17     ZusanliST36

[5 rows x 6 columns]

In [0]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 6 columns):
User_Id        997 non-null int64
Patient_Id     997 non-null int64
Symptom1       997 non-null object
Symptom2       997 non-null object
Recommended    997 non-null object
Selected       512 non-null object
dtypes: int64(2), object(4)
memory usage: 46.9+ KB

In [0]:
data3['Selected'] = data3['Selected'].astype('str')
data3['Selected'].unique()

array(['BaihuiDU20', 'NeiguanP6', 'ShanzhongRen17', 'ZhongwanRen12',
       'ZusanliST36', 'nan', 'TianshuST25', 'WeishuUB21', 'LiangmenST21',
       'LiangqiuST34', 'SanyinjiaoSP6', 'ZhangmenLiv13', 'RenzhongDU26',
       'TiantuRen22', 'PishuUB20', 'ShenshuUB23', 'QuchiLI11'],
      dtype=object)

In [0]:
data3['Recommended'].unique()

array(['BaihuiDU20', 'LiangmenST21', 'NeiguanP6', 'RenzhongDU26',
       'ShanzhongRen17', 'TianshuST25', 'TiantuRen22', 'WeishuUB21',
       'ZhongwanRen12', 'ZusanliST36', 'LiangqiuST34', 'SanyinjiaoSP6',
       'DaimaiGB26', 'DazhuiDU14', 'XiajuxuST39', 'ZhangmenLiv13',
       'ShenshuUB23', 'GeshuUB17', 'PishuUB20', 'QuchiLI11',
       'ShangjuxuST37'], dtype=object)

In [0]:
# number [1-9] are they are neither toupper or tolower
num=['0','1','2','3','4','5','6','7','8','9','.']
def Selection_Edit(str1):
    count =0
    
    lengt= len(str1)
    for i in range((lengt-1),-1,-1):
        #print(str1[i])
        if(str1[i] not in num):
            #print("hi")
            str8=str1[i].isupper()
            if(str8 == True):
                count = count +1
            str7=str1[i].islower()
            #print(i)
            if(str7 == True and count !=0):
                str1=str1[i+1:]
                count =0
                return str1           

#str6='BaihaiDU20'
#str9='DingchuanEx.17'
#Selection_Edit(str6)
#Selection_Edit(str9)

In [0]:
import numpy as np

data3['Recommended']= data3['Recommended'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))
data3['Selected']= data3['Selected'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))

data3['Recommended'].replace('None', np.nan, inplace=True)
data3['Selected'].replace('None', np.nan, inplace=True)

data3

     User_Id  Patient_Id                 Symptom1 Symptom2 Recommended Selected
0       1003           1  Difficult_in_swallowing   Hiccup        DU20     DU20
1       1003           1  Difficult_in_swallowing   Hiccup        ST21       P6
2       1003           1  Difficult_in_swallowing   Hiccup          P6    Ren17
3       1003           1  Difficult_in_swallowing   Hiccup        DU26    Ren12
4       1003           1  Difficult_in_swallowing   Hiccup       Ren17     ST36
..       ...         ...                      ...      ...         ...      ...
992     1003         100  Difficult_in_swallowing   Hiccup        ST25      NaN
993     1003         100  Difficult_in_swallowing   Hiccup       Ren22      NaN
994     1003         100  Difficult_in_swallowing   Hiccup        UB21      NaN
995     1003         100  Difficult_in_swallowing   Hiccup       Ren12      NaN
996     1003         100  Difficult_in_swallowing   Hiccup        ST36      NaN

[997 rows x 6 columns]