<a href="https://colab.research.google.com/github/harini-shre/Curneu_Harini_Shre/blob/master/I_Task_01_curneudataset5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving User5data.csv to User5data.csv

In [0]:
import pandas as pd
data5 = pd.read_csv('User5data.csv')
data5.head()

   User_Id  Patient_Id   Symptom1     Symptom2   Recommended      Selected
0   1005.0           1  Sinusitis  Tonsillitis    BaihuiDU20    BaihuiDU20
1      NaN           1  Sinusitis  Tonsillitis    DazhuiDU14    DazhuiDU14
2      NaN           1  Sinusitis  Tonsillitis       HeguLI4       HeguLI4
3      NaN           1  Sinusitis  Tonsillitis  QuanliaoSI18     QuchiLI11
4      NaN           1  Sinusitis  Tonsillitis     QuchiLI11  TianrongSI17

In [0]:
data5['Selected'] = data5['Selected'].astype('str')
data5['Selected'].unique()

array(['BaihuiDU20', 'DazhuiDU14', 'HeguLI4', 'QuchiLI11', 'TianrongSI17',
       'nan', 'SanyinjiaoSP6', 'LianquanRen23', 'Neck-FutuLI18',
       'TongliH5', 'PishuUB20', 'ShimenRen5', 'ShuifenRen9',
       'TiantuRen22', 'QuanliaoSI18', 'BipayU.Ex.', 'JueyinshuUB14',
       'NeiguanP6', 'RugenST18', 'XinshuUB15', 'YanglingquanGB34',
       'XuanzhongGB39', 'RenzhongDU26', 'ZusanliST36', 'ShanzhongRen17',
       'ShenmenH7', 'TianshuST25', 'WeishuUB21', 'ZhongwanRen12',
       'LiangqiuST34', 'ZhigouSJ6', 'ChangqiangDu1', 'ChengshanUB57',
       'JizhongDu6', 'YinjiaoDu28', 'YinlingquanSP9', 'LiangmenST21',
       'GuanyuanRen4', 'HuiyinRen1'], dtype=object)

In [0]:
data5['Recommended'].unique()

array(['BaihuiDU20', 'DazhuiDU14', 'HeguLI4', 'QuanliaoSI18', 'QuchiLI11',
       'SanyinjiaoSP6', 'ShaoshangLU11', 'TianrongSI17', 'XuehaiSP10',
       'YangbaiGB14', 'YuyaoEx.3', 'LianquanRen23', 'TaixiK3',
       'Neck-FutuLI18', 'TongliH5', 'TiantuRen22', 'GuanyuanRen4',
       'PishuUB20', 'ShimenRen5', 'ShuifenRen9', 'YinlingquanSP9',
       'BipayU.Ex.', 'JueyinshuUB14', 'NeiguanP6', 'RugenST18',
       'ShanzhongRen17', 'ShenmenH7', 'XinshuUB15', 'XuanzhongGB39',
       'YanglingquanGB34', 'ZusanliST36', 'RenzhongDU26', 'YongquanK1',
       'LiangmenST21', 'LiangqiuST34', 'TianshuST25', 'WeishuUB21',
       'ZhongwanRen12', 'GeshuUB17', 'ShenshuUB23', 'ShangjuxuST37',
       'ZhigouSJ6', 'ChangqiangDu1', 'ChengshanUB57', 'HuiyinRen1',
       'QihaiRen6', 'CiliaoUB32', 'JizhongDu6', 'YinjiaoDu28',
       'ZhibianUB54', 'DahengSP15'], dtype=object)

In [0]:
# number [1-9] are they are neither toupper or tolower
num=['0','1','2','3','4','5','6','7','8','9','.']
def Selection_Edit(str1):
    count =0
    
    lengt= len(str1)
    for i in range((lengt-1),-1,-1):
        if(str1[i] not in num):
            str8=str1[i].isupper()
            if(str8 == True):
                count = count +1
            str7=str1[i].islower()
            if(str7 == True and count !=0):
                str1=str1[i+1:]
                count =0
                return str1

In [0]:
import numpy as np

data5['Recommended']= data5['Recommended'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))
data5['Selected']= data5['Selected'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))

data5['Recommended'].replace('None', np.nan, inplace=True)
data5['Selected'].replace('None', np.nan, inplace=True)

data5

     User_Id  Patient_Id      Symptom1     Symptom2 Recommended Selected
0     1005.0           1     Sinusitis  Tonsillitis        DU20     DU20
1        NaN           1     Sinusitis  Tonsillitis        DU14     DU14
2        NaN           1     Sinusitis  Tonsillitis         LI4      LI4
3        NaN           1     Sinusitis  Tonsillitis        SI18     LI11
4        NaN           1     Sinusitis  Tonsillitis        LI11     SI17
..       ...         ...           ...          ...         ...      ...
878      NaN         100  Constipation      Malaise         SP6     ST36
879      NaN         100  Constipation      Malaise        ST25      NaN
880      NaN         100  Constipation      Malaise         SJ6      NaN
881      NaN         100  Constipation      Malaise       Ren12      NaN
882      NaN         100  Constipation      Malaise        ST36      NaN

[883 rows x 6 columns]