<a href="https://colab.research.google.com/github/harini-shre/Curneu_Harini_Shre/blob/master/I_Task_01_curneudataset1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving User1data.csv to User1data.csv

In [0]:
import pandas as pd
data1 = pd.read_csv('User1data.csv')
data1.head()

   User_Id  Patient_Id   Symptom1     Symptom2     Recommended       Selected
0     1001           1  Sinusitis  Tonsillitis    Baihui(DU20)     BaihuiDU20
1     1001           1  Sinusitis  Tonsillitis    Dazhui(DU14)     DazhuiDU14
2     1001           1  Sinusitis  Tonsillitis       Hegu(LI4)        HeguLI4
3     1001           1  Sinusitis  Tonsillitis  Quanliao(SI18)      QuchiLI11
4     1001           1  Sinusitis  Tonsillitis     Quchi(LI11)  SanyinjiaoSP6

In [0]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 6 columns):
User_Id        946 non-null int64
Patient_Id     946 non-null int64
Symptom1       946 non-null object
Symptom2       946 non-null object
Recommended    946 non-null object
Selected       310 non-null object
dtypes: int64(2), object(4)
memory usage: 44.5+ KB

In [0]:
data1['new_Selected'] = data1['Selected'].astype('str')

In [0]:
'''
# number [1-9] are they are neither toupper or tolower
num=['0','1','2','3','4','5','6','7','8','9']
def Selection_Edit(str1):
    lengt= len(str1)
    for i in range((lengt-1),-1,-1):
        #print(str1[i])
        if(str1[i] not in num):
            #print("hi")
            str7=str1[i].islower()
            #print(i)
            if(str7 == True):
                str1=str1[i+1:]
                return str1           

str6='BaihaiDU20'
Selection_Edit(str6)

'DU20'

In [0]:
# number [1-9] are they are neither toupper or tolower
num=['0','1','2','3','4','5','6','7','8','9']
def Selection_Edit(str1):
    count =0
    
    lengt= len(str1)
    for i in range((lengt-1),-1,-1):
        #print(str1[i])
        if(str1[i] not in num):
            #print("hi")
            str8=str1[i].isupper()
            if(str8 == True):
                count = count +1
            str7=str1[i].islower()
            #print(i)
            if(str7 == True and count !=0):
                str1=str1[i+1:]
                count =0
                return str1           

str6='BaihaiDU20'
Selection_Edit(str6)

'DU20'

In [0]:
data1['new_Selected']= data1['new_Selected'].apply(lambda x:x.replace(x,str(Selection_Edit(x))))
data1

     User_Id  Patient_Id  ...       Selected new_Selected
0       1001           1  ...     BaihuiDU20         DU20
1       1001           1  ...     DazhuiDU14         DU14
2       1001           1  ...        HeguLI4          LI4
3       1001           1  ...      QuchiLI11         LI11
4       1001           1  ...  SanyinjiaoSP6          SP6
..       ...         ...  ...            ...          ...
941     1001         100  ...            nan         None
942     1001         100  ...            nan         None
943     1001         100  ...            nan         None
944     1001         100  ...            nan         None
945     1001         100  ...            nan         None

[946 rows x 7 columns]

In [0]:
data1['new_Selected'].unique()

array(['DU20', 'DU14', 'LI4', 'LI11', 'SP6', 'None', 'UB20', 'Ren5',
       'Ren9', 'SP9', 'SI17', 'Ren23', 'LI18', 'Ren22', 'H5'],
      dtype=object)

In [0]:
def recommenadation_edit_2(str1):
  str1=str(str1)
  length = len(str1)
  count=0
  for i in range(0,length):
    if(str1[i]=='('):
        str1 = str1[i+1:]
        return str1

In [0]:
data1['New_Recommended_2']= data1['Recommended'].apply(lambda x:x.replace(')',''))
data1['New_Recommended_2']= data1['New_Recommended_2'].apply(lambda x:x.replace(x,str(recommenadation_edit_2(x))))
data1

     User_Id  Patient_Id  ... new_Selected New_Recommended_2
0       1001           1  ...         DU20              DU20
1       1001           1  ...         DU14              DU14
2       1001           1  ...          LI4               LI4
3       1001           1  ...         LI11              SI18
4       1001           1  ...          SP6              LI11
..       ...         ...  ...          ...               ...
941     1001         100  ...         None              LI11
942     1001         100  ...         None               SP6
943     1001         100  ...         None              LU11
944     1001         100  ...         None                K3
945     1001         100  ...         None              SI17

[946 rows x 8 columns]

In [0]:
data1['New_Recommended_2'].unique()

array(['DU20', 'DU14', 'LI4', 'SI18', 'LI11', 'SP6', 'LU11', 'SI17',
       'SP10', 'GB14', 'Ex.3', 'LU6', 'LI19', 'DU23', 'DU25', 'Ren23',
       'Ex.17', 'UB13', 'ST40', 'LU7', 'Ren4', 'UB20', 'Ren5', 'Ren9',
       'SP9', 'LI18', 'Ren22', 'H5', 'LU9', 'K3'], dtype=object)